
.column-left {

	/* Width */
	width:600px;
	padding-right:40px;

}

.news-article img{

	/* Height */
	height:130px;

	/* Border-Radius */
	border-radius:10px;

}

.news-article{

	/* Padding */
	padding: 15px 0;

	/* Margin */
	margin-bottom: 15px;

	/* Border */
	border-bottom:1px solid #ffc627;

}

.latest-news {

	/* Border */
	border:1px solid #ffc627;
	border-top:8px solid #ffc627;
}

.news-article p {

	/* Text Align */
	text-align: right;

	/* Text Decoration */
	text-decoration: italic;

	/* Font Color*/
	font-color:black;
	font-color:#dddddd; /* grey */
}

.news-article h3 {

	/* Text Decoration */
	text-decoration: underline;

}

.news-article-2 {

	/* Visibility */
	visibility:hidden;

}

.news-article-3 {

	/* Display */
	display:none;
}
